---
title: Other page

---

{% extends "layouts/_layout.html" %}

{% block content %}

<div id="barba-wrapper">
  <div class="barba-container">

    <div class="single" style="background-image: url(img/2.jpg)">
      <h2 class="single__title">Page 2</h2>
      <p class="single__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quas accusantium minima. Pariatur eaque quaerat culpa blanditiis velit exercitationem, quae autem atque dolor totam consequuntur beatae voluptatem, veritatis ullam obcaecati.</p>
      <p class="single__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla quas accusantium minima. Pariatur eaque quaerat culpa blanditiis velit exercitationem, quae autem atque dolor totam consequuntur beatae voluptatem, veritatis ullam obcaecati.</p>
    </div>

  </div>
</div>

{% endblock %}
